.App {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin-top: 96px; /* Adjust for header height */
}

.main-content {
  margin-left: 200px; /* Adjust for sidebar width */
  padding: 20px;
  flex-grow: 1;
}

h1, h2 {
  color: #33691E; /* Dark green for main headings */
}

p {
  color: #4E342E; /* Brown for paragraph text */
}

a {
  color: #2E7D32; /* Link color */
}

a:hover {
  color: #1B5E20; /* Darker link color on hover */
}

input[type="radio"] {
  accent-color: #4CAF50; /* Green for radio buttons */
}

.section-topic {
    font-size:30px;
}


@keyframes flutter {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-20px) rotate(20deg);
  }
  50% {
    transform: translateY(0) rotate(-20deg);
  }
  75% {
    transform: translateY(20px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.butterfly {
  position: absolute;
  animation: flutter 2s infinite ease-in-out;
  z-index: 1000;
}

/* Add random positioning and movement */
@keyframes fly {
  0% {
    left: 0%;
    top: 100%;
  }
  100% {
    left: 100%;
    top: -10%;
  }
}

.butterfly {
  animation: fly 10s linear infinite;
  opacity: 0.8;
}
