.App-header {
  background-color: #4CAF50; /* Green for agriculture */
  padding: 20px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  margin: 0;
  font-size: 2em;
}

.notification {
  position: relative;
  cursor: pointer;
}

.notification i {
  font-size: 1.5em;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8em;
}